<!DOCTYPE html>
<html>
<head>
  <title>Signo</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body id="loginpage">


<div id="wrapper">
  <article id="maincontent">

    <%= render 'layouts/notifications' if flash.present? %>

    <div class="container">
      <aside>
        <div class="logo">
          <%= image_tag "signo_#{Configuration.config.app_mode}.png" %>
        </div>
      </aside>

      <section>
        <%= yield %>
      </section>
    </div>
  </article>
</div>

</body>
</html>
